<div class="customers-datatable">
  <div class="table">
      <div class="row" #row [ngStyle]="getGridStyle(row)">
        @for (header of headers; track header.value) {
          <div class="col col-head">{{header.text}}</div>
        }
      </div>
    <div class="table__body">
      @for (item of data; track item.email) {
        <div class="row" #row [ngStyle]="getGridStyle(row)">
          @for (header of headers; track header.value) {
            @if(header.value === 'status') {
            <div class="col" >
              <button [ngClass]="[header.value === 'status' ? item[header.value].toLowerCase() : '' ]">{{item[header.value]}}</button>
            </div>
            } @else {
            <div class="col">{{item[header.value]}}</div>
            }
          }
        </div>
        }
    </div>
  </div>
  <div class="customers-datatable__footer">
    <div>
      Showing data 1 to 8 of  256K entries
    </div>
    <div>
      <app-customers-pagination />
    </div>
  </div>
</div>
