.page {
  border-radius: 4px;
  border: 1px solid #EEE;
  background: #F5F5F5;
  padding: 6px 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.page[disabled] {
  cursor: not-allowed;
}

.page:hover:not([disabled]) {
  background-color: #e0e1e5;
}

.current {
  border: 1px solid #5932EA;
  background: #6745e3;
  color: #FFF;
}

.current:hover:not([disabled]) {
  background-color: #5146e7;
}

.pagination {
  gap: 10px;
  display: flex;
}
