.side-menu {
  width: 306px;
  height: 100vh;
}

.hidden {
  width: unset;
}

.side-menu__content {
  padding: 0 28px;
  background: #FFF;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.50);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-menu__title {
  padding-top: 26px;
  display: flex;
  align-items: center;
}

.side-menu__title--text {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  padding-left: 8px;
}

.links {
  padding-top: 60px;
}

.links__item {
  color: #9197B3;
  padding: 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.links__item:hover {
  background-color: #FAFBFF;
  border-radius: 8px;
}

.links__item--text{
  margin-left: 14px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.selected {
  border-radius: 8px;
  background: #5932EA;
  color: #fff;
}

.selected {
  border-radius: 8px;
  background: #5932EA;
  color: #fff;
  fill: #fff;
}

.selected:hover {
  background-color: rgba(89, 50, 234, 0.80);
}

